.u-section-1 .u-sheet-1 {
  min-height: 892px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-family: Manrope-Regular;
  font-weight: normal;
  margin: 18px 154px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-image-1 {
  width: 894px;
  height: 1034px;
  margin: -128px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 576px;
  margin: -918px -22px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Manropewght;
  font-size: 4.5rem;
  font-weight: 900;
  margin: -506px 555px 0 20px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Manrope-Regular;
  background-image: none;
  margin: 341px auto 0 20px;
  padding: 19px 72px 19px 71px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin: -311px 668px 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 833px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -717px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 625px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 546px;
    margin-top: -509px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 19px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 394px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 344px;
    margin-top: -278px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1526px;
}

.u-section-2 .u-slider-1 {
  width: 1140px;
  min-height: 565px;
  margin: -190740px -662px 0 662px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-text-1 {
  font-family: Manrope-Regular;
  font-weight: 900;
  line-height: 1.2;
  margin: 190211px 454px 0 0;
}

.u-section-2 .u-image-1 {
  width: 573px;
  background-image: url("images/5217.jpg");
  min-height: 336px;
  background-position: 50% 50%;
  margin: 66px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-family: Manrope-Regular;
  font-weight: 900;
  font-size: 2.25rem;
  margin: -323px 79px 0 662px;
}

.u-section-2 .u-image-2 {
  width: 570px;
  background-image: url("images/5492.jpg");
  min-height: 324px;
  background-position: 50% 50%;
  height: auto;
  margin: 324px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-family: Manrope-Regular;
  font-weight: 900;
  font-size: 2.25rem;
  margin: -324px 156px 0 739px;
}

.u-section-2 .u-image-3 {
  width: 530px;
  background-image: url("images/3777906.jpg");
  min-height: 324px;
  background-position: 50% 50%;
  height: auto;
  margin: 360px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-family: Manrope-Regular;
  font-weight: 900;
  font-size: 2.25rem;
  margin: -324px 135px 0 717px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Manrope-Regular;
  background-image: none;
  margin: 393px auto 60px;
  padding: 19px 72px 19px 71px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 254px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -319px;
    margin-right: 161px;
    margin-left: 541px;
  }

  .u-section-2 .u-image-2 {
    width: 530px;
    margin-top: 309px;
    margin-right: 0;
    margin-left: auto;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 663px;
    margin-right: 594px;
    margin-left: 164px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -588px;
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: 122px;
    margin-left: 617px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 34px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 321px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 475px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -674px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 432px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 141px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 719px;
    margin-right: 295px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -730px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -284px;
    margin-left: 252px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 592px;
    margin-right: 95px;
    margin-left: 103px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    margin-top: -500px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -324px;
    margin-right: 77px;
    margin-left: 52px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 0;
  }
}.u-section-3 {
  background-image: linear-gradient(white, #dbf7fd);
}

.u-section-3 .u-sheet-1 {
  min-height: 1159px;
}

.u-section-3 .u-text-1 {
  font-family: Manrope-Regular;
  font-weight: 900;
  line-height: 1.2;
  margin: 51px 434px 0 20px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-family: Manrope-Regular;
  font-size: 4.5rem;
  line-height: 0.4;
  margin: 99px 908px 0 56px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-family: Manrope-Regular;
  margin: -56px 82px 0 271px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-family: Manrope-Regular;
  font-size: 4.5rem;
  line-height: 0.4;
  margin: 120px 908px 0 56px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  font-family: Manrope-Regular;
  margin: -64px 34px 0 271px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  font-family: Manrope-Regular;
  font-size: 4.5rem;
  line-height: 0.4;
  margin: 114px 908px 0 56px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  font-family: Manrope-Regular;
  margin: -72px 39px 0 271px;
}

.u-section-3 .u-text-8 {
  font-family: Manrope-Regular;
  font-weight: 900;
  margin: 164px auto 0 191px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Manrope-Regular;
  background-image: none;
  margin: 100px auto 60px 414px;
  padding: 19px 72px 19px 71px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 354px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -615px;
    margin-right: 764px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -306px;
    margin-right: 0;
    margin-left: 153px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 178px;
    margin-right: 764px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: -347px;
    margin-right: 0;
    margin-left: 105px;
  }

  .u-section-3 .u-text-6 {
    width: 159px;
    margin-top: 53px;
    margin-right: 764px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    width: 373px;
    margin-top: -75px;
    margin-right: 0;
    margin-left: 110px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 96px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 244px;
    margin-left: 210px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -305px;
    margin-right: 544px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -34px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 14px;
    margin-right: 544px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -183px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 544px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -183px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 191px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -7px;
    margin-right: 364px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 230px;
    margin-right: 364px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -399px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 364px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -399px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 143px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 199px;
    margin-right: 164px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 93px;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 1440px;
    margin-right: 164px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -1605px;
  }

  .u-section-3 .u-text-6 {
    font-size: 2.25rem;
    margin-top: -19px;
    margin-right: 164px;
  }

  .u-section-3 .u-text-7 {
    width: 340px;
    margin-top: -1571px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 90px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 60px;
  }
}.u-section-4 {
  background-image: linear-gradient(#dbf7fd, #ffffff);
}

.u-section-4 .u-sheet-1 {
  min-height: 659px;
}

.u-section-4 .u-text-1 {
  font-size: 3.125rem;
  font-family: Manrope-Regular;
  margin: 37px 735px 0 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  min-height: 433px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  height: auto;
  margin: 44px auto 60px -30px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-auto-rows: 100%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-line-1 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-line-2 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-line-3 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: none none solid;
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 535px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    min-height: 309px;
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-4 .u-image-1 {
    margin-left: initial;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    width: 99px;
    height: 38px;
  }

  .u-section-4 .u-image-2 {
    margin-left: initial;
  }

  .u-section-4 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-2 {
    width: 99px;
    height: 38px;
  }

  .u-section-4 .u-image-3 {
    margin-left: initial;
  }

  .u-section-4 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-3 {
    width: 99px;
    height: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 315px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    min-height: 711px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 50%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 135px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    min-height: 1599px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: 33.33%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 344px;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 344px;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 344px;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    min-height: 1007px;
  }

  .u-section-4 .u-image-1 {
    height: 212px;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 212px;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 212px;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: linear-gradient(white, rgba(255,182,29,0.76));
}

.u-section-5 .u-sheet-1 {
  min-height: 359px;
}

.u-section-5 .u-text-1 {
  font-family: Manrope-Regular;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 60px auto 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Manrope-Regular;
  background-image: none;
  margin: 41px auto 60px 0;
  padding: 19px 72px 19px 71px;
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-6 {
  background-image: linear-gradient(rgba(255,182,29,0.76), #2cccc4);
}

.u-section-6 .u-sheet-1 {
  min-height: 771px;
}

.u-section-6 .u-shape-1 {
  width: 927px;
  height: 548px;
  margin: 65px auto 0 9px;
}

.u-section-6 .u-shape-2 {
  width: 861px;
  height: 511px;
  margin: -417px 20px 0 auto;
}

.u-section-6 .u-layout-wrap-1 {
  width: 945px;
  margin: -538px 69px 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 457px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  font-family: Manrope-Regular;
  font-weight: 400;
  margin: 55px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 28px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 457px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 15px 20px;
}

.u-section-6 .u-form-1 {
  height: 347px;
  margin: 1px auto 0 0;
}

.u-section-6 .u-form-group-1 {
  width: 100%;
}

.u-section-6 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-6 .u-form-group-2 {
  width: 100%;
}

.u-section-6 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-6 .u-form-group-3 {
  width: 100%;
}

.u-section-6 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-6 .u-form-group-4 {
  width: 100%;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-6 .u-shape-1 {
    width: 946px;
    height: 519px;
    margin-left: -26px;
  }

  .u-section-6 .u-shape-2 {
    width: 894px;
    margin-right: -13px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 862px;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 454px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-6 .u-shape-1 {
    width: 760px;
    height: 525px;
    margin-top: 67px;
    margin-right: -40px;
    margin-left: auto;
  }

  .u-section-6 .u-shape-2 {
    width: 757px;
    height: 490px;
    margin-right: auto;
    margin-left: -37px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-6 .u-shape-1 {
    height: 553px;
    width: 469px;
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-6 .u-shape-2 {
    height: 572px;
    width: 511px;
    margin-top: -64px;
    margin-left: -26px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 459px;
    margin-top: -891px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-6 .u-shape-1 {
    width: 369px;
    margin-right: -29px;
  }

  .u-section-6 .u-shape-2 {
    height: 513px;
    width: 348px;
    margin-left: -38px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 180px;
}

.u-section-7 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 300px;
  min-width: 124px;
  white-space: nowrap;
  margin: 60px auto;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}@font-face {
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Manrope-Regular.woff);
}@font-face {
  font-family: 'Manropewght';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Manropewght.ttf);
}